extends layout

block content
	div.container-fluid
		div.row
			div.col-md-3
			div.col-md-6.col-centered
				h1.hbtext 
					| HAPPY 
					br
					| BIRTHDAY
			div.col-md-3
		div.row
			div.col-md-4
block toplinks
	link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
	link(rel='stylesheet', href='/stylesheets/style.css')

block bottomscript
	//- <!-- Bootstrap and JQuery -->
	script(src="/lib/jquery/dist/jquery.min.js")
	script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

	//- <!-- Angular JS files -->
	script(src="/lib/angular/angular.min.js")
	script(src="/lib/angular-cookies/angular-cookies.js")
	script(src='/lib/angular-resource/angular-resource.js')
	script(src='/lib/angular-ui-router/release/angular-ui-router.js')

	//- <!-- My Angular Init -->
	script(src="/javascripts/app.js")

	//- Angular Controllers

	//- Angular Services