extends layout

block content
	div.container-fluid
		div.row.toprow
			div.col-md-3
			div.col-md-6.col-centered
				h2.text-center
					| HAPPY 
					br
					| BIRTHDAY
			div.col-md-3
		div.row
			div.col-md-12
				input.name(id="nameInput" placeholder="What's yo name delicate?")
		div.row
			button.btn.btn-success.btn-lg.genBtn(onclick="generatePage()") Generate Message
	
