doctype html
html
  head
    title= title
    meta( name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    block toplinks
     link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
     link(rel='stylesheet' href='/stylesheets/style.css')
     link(rel="stylesheet" href="/extralibs/font-awesome-4.2.0/css/font-awesome.css" )
     link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css')
  body
    block content
    block bottomscript
     script(src="/lib/jquery/dist/jquery.min.js")
     script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
     //- <!-- Angular JS files -->
     //- <!-- MyAngular Init -->
     script(src="/javascripts/app.js")
     //- Angular Controllers
     //- Angular Services
     //-Other JavaScript files
     script(src="/javascripts/scripts/script.js")
    block furtherscripts