body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  overflow: hidden
}

.container-fluid{
	width: 100%;
}

.birthdayDiv{
	position: absolute;
	z-index: 999;
	width: 90%;
}

.hbtext{
	color: #fff;
	text-align: center;
	font-size: 100px;
	-moz-animation-name: slideout;
	-webkit-animation-name: slideout;
	-moz-animation-duration: 15s;
	-webkit-animation-duration: 15s;
	font-family: 'Montserrat', sans-serif;
}

.name{
	height: 60px;
	width: 450px;
	font-size: 30px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.genBtn{
	display: block;
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 10px;
}

a {
  color: #00B7FF;
}


.greetChoice{
	display: none;
	color: #fff;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size: 36px;
	margin-bottom: 1em;
	-webkit-animation: fadein 4s;
	-mos-animation: fadein 4s;
}

.choices{
	display: none;
}

.choice{
	border: 1px solid blue;
	height: 20em ;
	border-radius: 5px;
	-webkit-animation: fadein 4s;
	-mos-animation: fadein 4s;
}

.choiceTitle{
	text-align: center;
	font-size: 2em;
	color: #B25D5D;
}

.pauseFireworks{
	position: absolute;
	width: 40px;
	height: 40px;
	top:25px;
	right: 0;
	display: none;
}

.fa.hidden{
	display: none;

}

.pauseFireworks .fa{
	color: #fff;
	cursor: pointer;
	font-size: 24px;
}

.back{
	position: absolute;
	top: 2.1em;
	left: 0;
	cursor: pointer;
}

.back .fa{
	font-size: 24px;
	color: #fff;
}

.greeting, .quote, .randomVideo{
	cursor: pointer;
}


@-moz-keyframes slideout{
	from{
		font-size: 16px;
	}
	to{
		font-size: 100px;
	}
}

@-webkit-keyframes slideout{
	from{
		font-size: 16px;
	}
	to{
		font-size: 100px;
	}
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}